<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Name" providerName="Sybase.AdoNet2.AseClient" connectionString="DataSource='HDSSDB2.stp.ime.reuters.com:4074';Database='pubs';UID='rds_user';PWD='rds_pswd';Pooling=true;textsize=2147483647;Min Pool Size=1;Max Pool Size=10;Connect Timeout=60;ApplicationName='PUBS';AseCommandDisposeOptional=true;"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="ASE Server Data Provider" invariant="Sybase.Data.AseClient" description=".NET Framework Data Provider for Sybase ASE Server" type="Sybase.Data.AseClient.AseClientFactory,Sybase.AdoNet2.AseClient"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
